{% extends 'base.html' %}
{% block content %}
<!-- predict.html -->
<div class="container">

    <h1>Faire une prédiction</h1>

    {% if error %}
        <p style="color: red;">Erreur: {{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Prédire</button>
    </form>

    {% if temperature %}
        <div>
            <h3>Température pour {{ form.id_jour.value }}: {{ temperature }}°C</h3>
        </div>
    {% endif %}
    
    {% if result %}
        <div>
            <h3>Résultat de la prédiction: {{ result.prediction }}</h3>
        </div>
    {% endif %}

</div>

{% endblock content %}