[run]
source = 
    api_model
    api_data

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    except ImportError:
    def test_

omit =
    */test_*.py
    */*_test.py
    */tests/*
    */__init__.py