/* Style global */
html {
    font-family: 'Arial', sans-serif;
}

body {
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Style pour les en-têtes */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

header .nav-pills .nav-link {
    color: white;
}

header .nav-pills .nav-link.active {
    background-color: #45a049;
}

/* Style pour les formulaires */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Style pour les messages d'erreur */
.error {
    color: red;
    font-weight: bold;
}

/* Style pour les tableaux */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Style pour les boutons */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Style pour les liens */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style pour le pied de page */
footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}